
<% if signed_in? %>
<div class="row">
<div class="small-4 columns" style = "margin-top : 20px" >
	    <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %> <br>
		<%= render 'shared/micropost_form' %> 

    </div>
    
		
     <div class="small-8 columns"> <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %></div>
		
	
	
</div>



<% else %>

<div class="row">

  <div class="small-10 columns">
  	<h1> <img alt="Rails" src="/assets/rails.png" /> Welcome to the Sample App</h1>
        <center> <h5>
            This is the home page for the
            <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
            Sample App.
         </h5></center> 
	</div>
	
</div>



<center  > <a style="margin-top: 83px;" class="button [radius round]"  <%= link_to "Sign up now!", signup_path %>    </a></center> 	
</div>




<% end -%>
