
<center style="margin-top: 30px; margin-right: 1000px;">
	 <% provide(:title, @user.name) %>
     <%= gravatar_for @user %>
     <%= @user.name %>

  
	</center>

	<div class="row">
     <div class="small-10 columns">
    <% if @user.microposts.any? %>
     <h4> Microposts(<%= @user.microposts.count %>)</h4>
     <ol>
        <%= render @microposts %>
     </ol>
     <center> <%= will_paginate @microposts %></center>
    <% end -%>


      </div>
 </div>
     
